@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Exo+2:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'AC Line';
  src: url('/public/fonts/ACLineRegular.eot') format('eot'),
    url('/public/fonts/ACLineRegular.woff') format('woff'),
    url('/public/fonts/ACLineRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
input,
input:focus,
input:hover,
input:active {
  outline: none;
  box-shadow: none;
}

:root {
  --background-color: #fff;
  --primary: #ffd86f;
  --green-light: #7d9c44;
  --secondary: #ce3591;
  --primary-grey: #1f2c4a;
  --pink-light: #e884c1;
  --grey-light: #4a5877;
  --pink-pale: #fde1f2;
}

body {
  background-color: var(--background-color);
  font-family: Rubik;
  margin: 0;
  hyphens: auto;
}
.image-style-side {
  float: right;
}
.image {
  text-align: center;
}
